$fhd_res: 1920px;
$desktop_md_res: 1440px;
$desktop_sm_res : 1201px;
$tablet_res: 980px;
$mobile_res: 450px;
$mobile_sm_res: 440px;

$container-width: 1710rem / 16;

$vw-viewport: 1920;

//colors

$blue: #3d80cc;
$pink: #f25ac7;
//grad



//shadow

